{% extends "layout.html" %}

{% block title %}
    Input
{% endblock %}

{% block main %}
    <form action="/input" method="post">
        <h4>Input expenses here:</h4>
        <br>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-1">
                <input class="form-control" autofocus autocomplete="off" id="day" name="day" placeholder="Day" type="number" min="1" max="31">
            </div>
            <div class="col-2">
                <select class="form-control form-select" name="month" id="month">
                    {% for month in ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
                        <option value="{{ loop.index }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-1">
                <select class="form-control form-select" name="year" id="year">
                    {% for year in range(2023, 2026) %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>       
            </div>
            <div class="col-1">
                <input class="form-control" autocomplete="off" id="cost" name="cost" placeholder="Value" type="number" step=".01" min="0">      
            </div>
            <div class="col-1">
                <select class="form-control form-select" name="currency" id="currency" default="{{ currencypref }}">
                    {% for currency in currencies %}
                        {% if currency|string() == currencypref|string() %}
                            <option value="{{ currency }}" selected>{{ currency }}</option>
                        {% else %}
                            <option value="{{ currency }}">{{ currency }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <select class="form-control form-select" name="tag" id="tag">
                    <option value="" selected disabled>Tag</option>
                    {% for tag in tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>      
            </div>
            <div class="col-2">
                <input class="form-control" autocomplete="off" id="remark" name="remark" placeholder="Remark" type="text">      
            </div>
            <div class="col-1">
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Enter</button>
    </form>
{% endblock %}